@{
	ViewData["Title"] = "Mymobile - Գլխավոր";
}

@section head {
	<meta name="description"
		  content="Mymobile-ը ձեր հուսալի գործընկերն է բջջային տեխնոլոգիաների աշխարհում: Մենք առաջարկում ենք հեռախոսների, աքսեսուարների և պրոֆեսիոնալ վերանորոգման լայն ընտրանի: Կապվեք մեզ հետ ձեր բջջային սարքի որակյալ ապրանքների և ծառայությունների համար:" />
	<meta name="keywords" content="հեռախոսներ, բջջային աքսեսուարներ, հեռախոսի վերանորոգում, հեռախոսների գնում, սմարթֆոնի պարագաներ, սպասարկման կենտրոն, էկրանի փոխարինում, սարքի վերանորոգում, բջջային գաջեթներ, Mymobilem, Մայ Մոբայլ" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/assets/css/card.css" />
	<link rel="stylesheet" href="~/assets/css/home.css" />
}


<section class="home__banner">
	<div class="swiper home-banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img alt="" src="~/assets/img/banner/580fd5a01b98cc54c233_macbookmecкопия.png" />
			</div>
			<div class="swiper-slide">
				<img alt="" src="~/assets/img/banner/227fac25e3637fd878a5_webBig1920x550.png" />
			</div>
			<div class="swiper-slide">
				<img alt="" src="~/assets/img/banner/1091025300f659243c2d_MecMacBook.png" />
			</div>
		</div>
	</div>
</section>

<section class="top-sales">
	<div class="container">
		<div class="top-sales__title title">Լավագույն Վաճառք</div>
		<div class="swiper top-sales-slider">
			<div class="swiper-wrapper card">
				@foreach (var item in ViewBag.Hots as List<ShortProductVM>)
				{
					<form asp-area="" asp-controller="Cart" asp-action="AddToBasket" asp-route-productId="@item.Id" asp-route-FinalPrice="@item.FinalPrice" asp-route-fromprodpage="true" class="top-sales__item item addToCartForm swiper-slide">
						@if (item.Discount > 0)
						{
							<div class="item__discount">
								<div class="discount__image">
									<img src="~/assets/img/productStatic/badge-154930_1280.png" alt="discount" />
									<span>@item.Discount%</span>
								</div>
							</div>
						}
						<div class="item__compare" title="Համեմատել">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
							</svg>
						</div>
						<div class="item__image">
							<img src="~/assets/img/product/@item.ImageFile" alt="" />
						</div>
						<div class="item__field">
							<span class="field__title">Անուն:</span>
							<span>@item.Title</span>
						</div>
						<div class="item__field">
							<span class="field__title">Հիշողություն:</span>
							<span>@item.Memory GB</span>
						</div>
						<div class="item__field">
							<span class="field__title">Գույն:</span>
							<span>@item.ProdColor</span>
						</div>
						<div class="item__field">
							<span class="field__title">Գին:</span>
							@if (item.Discount > 0)
							{
								<span class="discount">@item.FinalPrice.ToString("N0") AMD</span>
								<del class="del">@item.Price.ToString("N0") AMD</del>
							}
							else
							{
								<span>@item.Price AMD</span>
							}
						</div>
						<div class="item__stars">
							<svg height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#ED8A19;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path> </g></svg>
							<svg height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#ED8A19;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path> </g></svg>
							<svg height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#ED8A19;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path> </g></svg>
							<svg height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#ED8A19;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path> </g></svg>
							<svg height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#ED8A19;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path> </g></svg>
						</div>
						<input type="hidden" value="1" name="count" />
						<div class="item__buttons">
							<a class="btn-green" asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Slug">Ավելին</a>
							<button type="submit" class="btn-green addToCart add-toast">Գնել</button>
						</div>
					</form>
				}
			</div>

			<div class="swiper-button-next next"></div>
			<div class="swiper-button-prev prev"></div>
		</div>

	</div>
</section>
	


<section class="manufacturers">
	<div class="container">
		<div class="slider" dir="rtl">
			<div class="img"><img src="~/assets/img/apple.png" alt="Apple"></div>
			<div class="img"><img src="~/assets/img/samsung.png" alt="samsung"></div>
			<div class="img"><img src="~/assets/img/nokia.png" alt="Apple"></div>
			<div class="img"><img src="~/assets/img/huawei.png" alt="Apple"></div>
			<div class="img"><img src="~/assets/img/realme.png" alt="Apple"></div>
			<div class="img"><img src="~/assets/img/lenovo.png" alt="Apple"></div>
			<div class="img"><img src="~/assets/img/oppo.png" alt="Apple"></div>
			<div class="img"><img src="~/assets/img/xiaomi.png" alt="Apple"></div>
		</div>
	</div>
</section>

@* <div class="hots">
@foreach (var item in ViewBag.Hots as List<ShortProductVM>)
    {
    <div class="ctg">
                <br>
                <div class="form-group">
                    <p><a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Slug">@item.Title @item.Memory GB @(item.ProdColor)</a></p>
                    </div>
                <div class="form-group">
                    @foreach (var prd in item.PAVVMs.GroupBy(p => p.Name))
                    {
                            <span>@prd.Key :</span>
                            @foreach (var prd1 in prd)
                            {
                                if (prd1 == prd.Last())
                                {
                                    <span>@prd1.Value</span>
                                }
                                else
                                {
                                    <span>@prd1.Value,</span>
                                }
                            }
                        <br />
                    }
                </div>
                <div class="form-group">
                @if (item.Discount > 0)
                {
                    <span>@item.FinalPrice.ToString("N0") AMD.</span>
                    <span class="prodprice">@item.Price.ToString("N0") AMD</span>
                }
                else
                {
                    <span>@item.Price.ToString("N0") AMD</span>
                }
                </div>
        <br>
    </div>
    }
</div>  *@

@section scripts {
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="~/assets/js/home.js"></script>
	<script src="~/assets/js/addToBasket.js"></script>
}