@model List<ShortProductVM>
@{
    Layout = null;
}

@if (Model.Count > 0)
{
    <div class="search-res">
        @foreach (var item in Model)
        {
            <p class="search-res-prods">
                @*<a asp-area="" asp-controller="Product" asp-action="Details" asp-route-Id="@item.Id" class="search-link">*@
                <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Slug" class="search-link">
                    @item.Title @($"{item.Memory}GB") (@item.ProdColor)
                </a>
            </p>

        }
    </div>

}
else
{
    <p class="search-res-no">Ոչինչ չի գտնվել</p>
}
