@model ProductVM
@{
	ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var a = 0;
}



<section class="dashboard">
	<h2>@Model.Title</h2>
	<a asp-area="Admin" asp-controller="Product" asp-action="AddEdit" asp-route-Id="@Model.Id" class="item__edit">
		<button type="button" class="btn">Edit</button>
	</a>
	<div class="dashboard__details">
		<div class="dashboard__detail">
			<span class="name">Name</span>
			<span>@Model.Title</span>
		</div>
		<div class="dashboard__detail big">
			<span class="name">Description</span>
			<span>@Model.Description</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Short description</span>
			<span>@Model.ShortDescription</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Price</span>
			<span>@Model.Price</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Discount</span>
			<span>@Model.Discount</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Memory</span>
			<span>@Model.Memory</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Color</span>
			<span>@Model.ProdColor</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Category</span>
			<span>@ViewBag.CategoryName</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Photo</span>
			@if (Model.MainImage != null)
			{
				<img src="~/assets/img/product/@Model.MainImage" alt="Image" width="100px" height="100px" class="tm-list-item-img">
			}
			else
			{
				<div>
					No Image
				</div>
			}
		</div>
		<div class="dashboard__detail">
			<span class="name">Meta Description</span>
			<span>@Model.MetaDescription</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Page title</span>
			<span>@Model.PageTitle</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">Slug</span>
			<span>@Model.Slug</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">IsDeleted</span>
			<span>@Model.IsDeleted</span>
		</div>
		<div class="dashboard__detail">
			<span class="name">IsHot</span>
			<span>@Model.IsHot</span>
		</div>

		<div>
			<strong style="margin-bottom: 10px; display:block">Attributes</strong>
			@foreach (var item in Model.PAVVMs.GroupBy(p => p.Name))
			{
				<div class="dashboard__detail">
					<span class="name">@item.Key</span>
					<span>
						@foreach (var item1 in item)
						{
							if (item1 == item.Last())
							{
								@item1.Value
							}
							else
							{
								<span>@item1.Value,</span>
							}
						}
					</span>
				</div>
			}
			<a asp-area="Admin" asp-controller="Product" asp-action="AddEditAttribute" asp-route-Id="@Model.Id" asp-route-edit="@true" class="btn">Edit attributes</a>
		</div>
		<div>
		@foreach(var item in Model.Images)
		{
			<img src="~/assets//img/product/@item.ImageFile" width="10px" />
			<a asp-area="Admin" asp-controller="Product" asp-action="DeleteImage" asp-route-Id="@Model.Id" asp-route-imageId="@item.Id">Delete</a>
		}
		</div>
	</div>
</section>