@model ProductVM
@{
	Layout = "_Layout";
	ViewData["Title"] = $"Mymobile - {Model.Title}";
}

@section head {
	<meta name="description" content="@Model.MetaDescription" />
@* 	<meta name="keywords" content="@Model.MetaKeywords" /> *@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" href="~/assets/css/product.css" />
}
<section class="product">
	<div class="container">
		<div class="product__title mobile">@Model.Title @Model.Memory GB (@Model.ProdColor)</div>
		<div class="product__wrapper">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="product__img swiper-slide">
						<img src="~/assets/img/product/@Model.MainImage" alt="@Model.Title" />
					</div>
					@foreach (var item in Model.Images)
					{
						<div class="product__img swiper-slide">
							<img src="~/assets/img/product/@item.ImageFile" alt="@Model.Title" />
						</div>
					}
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="product__info">
				<h1 class="product__title">@Model.Title @Model.Memory GB (@Model.ProdColor)</h1>
				<p class="product__description">@Model.Description</p>

				<form asp-area="" asp-controller="Cart" asp-action="AddToBasket" asp-route-productId="@Model.Id" asp-route-FinalPrice="@ViewBag.FinalPrice" asp-route-fromprodpage="true" class="addToCartForm" id="addToCart">
					<div class="count-range">
						<button type="button" class="dec button count-dec" data-product="@Model.Id">-</button>
						<input type="number" class="product-value product-count" id="product-count" name="count" value="@ViewBag.Count" min="0" max="200" readonly>
						<button type="button" class="inc button count-inc" data-product="@Model.Id">+</button>
					</div>
					@if (Model.Discount > 0)
					{
						<div class="product__price disc">
							<del class="del">@Model.FinalPrice.ToString("N0") AMD.</del>
							<span class="prodprice">@Model.Price.ToString("N0") AMD</span>
						</div>
					}
					else
					{
						<div class="product__price">
							<span>@Model.Price.ToString("N0") AMD</span>
						</div>
					}
					<input type="submit" class="addToCart add-toast" value="Add To Cart">
				</form>

			</div>
		</div>
		<div class="product-characteristics">
			<div class="title">Բնութագիր</div>
			<div class="product-characteristics__items">
				@foreach (var item in Model.PAVVMs.GroupBy(p => p.Name))
				{
					<div class="product-characteristics__item">
						<span>@item.Key :</span>

						@foreach (var item1 in item)
						{
							if (item1 == item.Last())
							{
								<span>@item1.Value</span>
							}
							else
							{
								<span>@item1.Value,</span>
							}
						}
					</div>

				}
			</div>

		</div>

	</div>
</section>

@section scripts {
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var swiper = new Swiper(".mySwiper", {
				pagination: {
					el: ".swiper-pagination",
				},
			});

			const decrementButton = document.querySelector('.count-dec');
			const incrementButton = document.querySelector('.count-inc');
			const countInput = document.querySelector('.product-count');

			decrementButton.addEventListener('click', function () {
				let currentValue = parseInt(countInput.value, 10);
				if (currentValue > parseInt(countInput.min, 10)) {
					countInput.value = currentValue - 1;
				}
			});

			incrementButton.addEventListener('click', function () {
				let currentValue = parseInt(countInput.value, 10);
				if (currentValue < parseInt(countInput.max, 10)) {
					countInput.value = currentValue + 1;
				}
			});

		});

	</script>

	<script src="~/assets/js/addToBasket.js"></script>
}

