@model OrderVM
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
	<link rel="stylesheet" href="~/assets/css/cart.css" />
}

<section class="cart">
	<div class="container">
		@if (ViewBag.Carts.Count > 0)
		{
			<div class="cart__title title">Զամբյուղ</div>

			<div class="cart__wrapper">
				<div class="cart__items">
					<a asp-area="" asp-controller="Cart" asp-action="DeleteAll" asp-route-cookieId="@(ViewBag.CookieId)" class="cart__delete-all">Հեռացնել բոլորը</a>
					@foreach (var item in ViewBag.Carts as List<CartVM>)
					{
						<form asp-area="" asp-controller="Cart" asp-action="Update" asp-route-cartId="@item.Id" class="cart__item" data-cartId="@item.Id">

							<div class="item__left">
								<div class="item__photo">
									<img src="~/assets/img/product/@item.Product.ImageFile" alt="@item.Product.Title" />
								</div>
								<div class="item__title">
									<a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Product.Slug">
										@item.Product.Title
									
									</a>
									<div class="item__info">
										@item.Product.Memory GB
										@item.Product.ProdColor
									</div>
									<div class="item__price product__price" data-price="@item.Price">
										@(item.Count * item.Price) AMD
									</div>
								</div>
							</div>
							<div class="item__right">
								<div class="item__count count-range">
									<button type="button" class="dec button count-dec">-</button>
									<input type="number" class="product-value product-count" id="product-count" name="count" value="@item.Count" min="1" max="200" readonly>
									<button type="button" class="inc button count-inc">+</button>
								</div>

						
								@* <a asp-area="" asp-controller="Cart" asp-action="Delete" asp-route-Id="@item.Id" class="item__remove">Հեռացնել</a> *@
							</div>
								<button type="button" class="item__remove">Հեռացնել</button>
						</form>
					}
				</div>

				<form asp-area="" asp-controller="Order" asp-action="Create" class="cart-order__form">
					@* axper stex inch dasht petqa input hidden-nerov dir tenam eli baci et anun heraxos hamar captcha *@
					<div class="floating-label-input">
						<input asp-for="Customer.Name" type="text"
							   class="form__input"
							   required />
						<label class="label">Անուն</label>
					</div>
					<div class="floating-label-input">
						<input asp-for="Customer.PhoneNumber" type="text"
							   class="form__input"
							   required />
						<label class="label">Հեռախոսահամար</label>
					</div>
					<div class="floating-label-input">
						<input asp-for="Customer.Email" type="email"
							   class="form__input"
							   required />
						<label class="label">Էլ. հասցե</label>
					</div>
					<button type="submit" class="btn-orange">Պատվիրել</button>
				</form>
			</div>

		}
		else
		{
			<div class="cart__empty">
				<div class="title">Զամբյուղը դատարկ է</div>
				<p>
					Ավելացրեք ցանկալի ապրանքները զամբյուղում: Կապվեք մեզ հետ, եթե ունեք
					հարցեր:<br /> <b>Շնորհակալություն մեր խանութն ընտրելու համար:</b>
				</p>
				<a asp-area="" asp-controller="Category" asp-action="Index" class="btn-orange">Կատալոգ</a>
			</div>
		}
	</div>
</section>


@section scripts {
	<script src="~/assets/js/cart.js"></script>
}