@model OrderVM
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
	<link rel="stylesheet" href="~/assets/css/cart.css" />
}


<div class="send-message__container" style="display: none" id="send-message">


	<div class="wrapperAlert">

		<div class="contentAlert">

			<div class="topHalf">

				<p>
					<svg viewBox="0 0 512 512" width="100" title="check-circle">
						<path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
					</svg>
				</p>
				<strong>Ուռաաա</strong>

				<ul class="bg-bubbles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="bottomHalf">
				<p>Ձեր պատվերը հաջողությամբ հաստատվել է:</p>
				<a href="/" class="btn">Փակել</a>

			</div>

		</div>

	</div>


</div>

<section class="cart">
	<div class="container">
		@if (ViewBag.Carts.Count > 0)
		{
			<div class="cart__title title">Զամբյուղ</div>

			<div class="cart__wrapper">
				<div class="cart__items">
					<a asp-area="" asp-controller="Cart" asp-action="DeleteAll" asp-route-cookieId="@(ViewBag.CookieId)" class="cart__delete-all">Հեռացնել բոլորը</a>
					@foreach (var item in ViewBag.Carts as List<CartVM>)
					{
						<form asp-area="" asp-controller="Cart" asp-action="Update" asp-route-cartId="@item.Id" class="cart__item" data-cartId="@item.Id">

							<div class="item__left">
								<div class="item__photo">
									<img src="~/assets/img/product/@item.Product.ImageFile" alt="@item.Product.Title" />
								</div>
								<div class="item__title">
									<a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Product.Slug">
										@item.Product.Title

									</a>
									<div class="item__info">
										@item.Product.Memory GB
										@item.Product.ProdColor
									</div>
									<div class="item__price product__price" data-price="@item.Price">
										@(item.Count * item.Price) AMD
									</div>
								</div>
							</div>
							<div class="item__right">
								<div class="item__count count-range">
									<button type="button" class="dec button count-dec">-</button>
									<input type="number" class="product-value product-count" id="product-count" name="count" value="@item.Count" min="1" max="200" readonly>
									<input type="hidden"  data-count="@item.Count"/>
									<button type="button" class="inc button count-inc">+</button>
								</div>


								@* <a asp-area="" asp-controller="Cart" asp-action="Delete" asp-route-Id="@item.Id" class="item__remove">Հեռացնել</a> *@
							</div>
							<button type="button" class="item__remove">Հեռացնել</button>
						</form>
					}
				</div>

				<form asp-area="" asp-controller="Order" asp-action="Create" class="cart-order__form">
					<input type="hidden" name="CookieId" value="" />
					<div class="floating-label-input">
						<input name="Name" type="text"
							   id="orderName"
							   class="form__input"
							   required />
						<label class="label">Անուն</label>
					</div>
					<div class="floating-label-input tel">
						<div class="input-code">
							<img src="~/assets/img/armenia.png" alt="flag armenia" />
							<span>+374</span>
						</div>
						<input name="PhoneNumber" type="text"
							   class="form__input"
							   id="orderPhoneNumber"
							   required />
						<label class="label">Հեռախոսահամար</label>
						<span id="orderPhoneError" class="error-message">Հեռախոսահամարը գոյություն չունի</span>
					</div>
					<div class="floating-label-input">
						<input name="Email" type="email"
							   id="orderEmail"
							   class="form__input"
							   required />
						<label class="label">Էլ. հասցե</label>
					</div>
					<button type="submit" class="btn-green">Պատվիրել</button>
				</form>
			</div>

		}
		else
		{
			<div class="cart__empty">
				<div class="title">Զամբյուղը դատարկ է</div>
				<p>
					Ավելացրեք ցանկալի ապրանքները զամբյուղում: Կապվեք մեզ հետ, եթե ունեք
					հարցեր:<br /> <b>Շնորհակալություն մեր խանութն ընտրելու համար:</b>
				</p>
				<a asp-area="" asp-controller="Category" asp-action="Index" class="btn-green">Կատալոգ</a>
			</div>
		}
	</div>
</section>


@section scripts {
	<script src="~/assets/js/cart.js"></script>
}